In [1]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import *
from xiao_utils import f

In [2]:
# 将level_id字段中的-替换为np.nan
df = pd.read_csv('../../data/origin/[new] yancheng_train_20171226.csv', dtype={'sale_date':str}, na_values=['-'], low_memory=False)
df['sale_date']= pd.to_datetime(df['sale_date'], format='%Y%m')

# 将price_level字段转换成有序类别的类型，并用其数值填入该列。
df['price_level'] = df['price_level'].astype('category', categories=['5WL','5-8W','8-10W','10-15W','15-20W','20-25W','25-35W','35-50W','50-75W'], ordered=True)
df['price_level'] = df['price_level'].cat.codes

# 待选方案：先把power和扭矩字段带/的行复制一份，然后将新行里的销量清零，将原行和新行的power和扭矩字段的值分别赋为slash前后的值。
# 现行方案：先他娘的直接把slash和后面的值删掉。省得影响记录条数相关的统计量。
def process_power_and_torque(s):
    return s.split('/')[0]
df['power'] = df['power'].astype(str).apply(process_power_and_torque).astype(float) #[18600]
df['engine_torque'] = df['engine_torque'].astype(str).apply(process_power_and_torque).astype(float)

# # -------------------------------------------------------------
# # 把2017年11月的数据拼进来，一块填入其特征，用于最终输出要提交的结果。
# empty_Nov = pd.read_csv('../../data/origin/yancheng_testA_20171225.csv', dtype={'predict_date':str}, na_values=['-'], low_memory=False)
# empty_Nov['predict_date']= pd.to_datetime(empty_Nov['predict_date'], format='%Y%m')
# empty_Nov.rename(columns = {'predict_date': 'sale_date', 'predict_quantity':'sale_quantity'}, inplace = True)


# # 读取玩了，先不急着拼，先把车型到品牌的映射关系join进来
# class_to_brand = df[['class_id','brand_id']].groupby(['class_id']).mean().reset_index()
# empyt_Nov = pd.merge(left=empty_Nov, right=class_to_brand, on='class_id', how='left')
# empty_Nov['brand_id']= class_to_brand['brand_id']
# # empty_Nov
# # class_to_brand

# # class_to_brand

# # 读取完了，拼上去
# df = pd.concat([df, empty_Nov])
# df.info()

# ------------------------------------------------------------------
df

,sale_date,class_id,sale_quantity,brand_id,compartment,type_id,level_id,department_id,TR,gearbox_type,...,engine_torque,car_length,car_width,car_height,total_quality,equipment_quality,rated_passenger,wheelbase,front_track,rear_track
0,2016-09-01,289403,94,12,2,1,1.0,1,6,MT,...,170.0,4440,1833,1545,1695,1320,5,2700,1556,1562
1,2016-09-01,745137,435,637,3,2,1.0,2,6,DCT,...,159.0,4534,1823,1483,1711,1336,5,2648,1553,1544
2,2016-09-01,714860,180,831,3,2,2.0,3,6,AT,...,176.0,4720,1815,1465,1860,1459,5,2770,1579,1589
3,2016-09-01,175962,40,750,3,2,1.0,4,6,AT,...,155.0,4475,1706,1469,1625,1145,5,2603,1460,1500
4,2016-09-01,270690,19,98,2,3,3.0,1,5,MT,...,146.5,4415,1685,1850,1825,1236,5,2720,1420,1440
5,2016-09-01,290854,53,537,2,1,1.0,5,0,CVT,...,190.0,4585,1820,1685,2010,1540,5,2620,1580,1580
6,2016-09-01,692703,81,807,2,1,1.0,1,5,MT,...,202.0,4510,1852,1677,1900,1450,5,2650,1575,1570
7,2016-09-01,978089,37,12,2,2,1.0,1,5,MT,...,140.0,4425,1789,1470,1611,1236,5,2650,1502,1492
8,2016-09-01,219195,115,638,2,1,3.0,1,6,AT,...,210.0,4335,1814,1695,1895,1520,5,2560,1525,1520
9,2016-09-01,851857,78,75,2,1,2.0,2,8,AT,...,400.0,4812,1903,1680,2375,1885,5,2857,1645,1645
10,2016-09-01,304458,17,106,3,2,1.0,5,5,MT,...,154.0,4630,1775,1480,1770,1265,5,2700,1535,1535
11,2016-09-01,349023,10,450,3,2,1.0,2,5,MT,...,146.0,4567,1786,1456,1700,1195,5,2662,1540,1558
12,2016-09-01,281792,10,872,2,2,1.0,4,7,DCT,...,300.0,4319,1785,1441,1885,1435,5,2629,1539,1509
13,2016-09-01,510309,83,953,2,1,2.0,4,9,AT,...,350.0,4661,1898,1664,2360,1860,5,2873,1617,1613
14,2016-09-01,379876,7,985,3,2,1.0,6,6,AT,...,230.0,4590,1820,1488,1736,1320,5,2675,1555,1550
15,2016-09-01,750340,29,864,2,1,1.0,1,6,MT,...,215.0,4530,1900,1700,1860,1485,5,2700,1601,1602
16,2016-09-01,576298,158,304,2,3,2.0,1,5,MT,...,138.0,5055,1695,1960,2160,1560,7-8,3000,1445,1420
17,2016-09-01,347384,28,831,3,2,1.0,3,6,AT,...,155.5,4600,1780,1445,1720,1260,5,2700,1555,1568
18,2016-09-01,354068,718,692,3,2,1.0,5,0,CVT,...,154.0,4631,1760,1503,1650,1236,5,2700,1540,1540
19,2016-09-01,416749,29,537,2,1,3.0,5,0,CVT,...,155.0,4270,1772,1605,1775,1205,5,2610,1540,1530
20,2016-09-01,125403,66,761,2,3,2.0,2,6,AT,...,290.0,5266,1878,1772,2470,1930,7,3088,1593,1603
21,2016-09-01,409854,310,638,2,1,1.0,1,6,MT,...,210.0,4649,1852,1710,2059,1560,5,2680,1565,1565
22,2016-09-01,786351,98,836,3,2,1.0,3,6,MT,...,155.5,4570,1775,1445,1608,1233,5,2700,1549,1562
23,2016-09-01,281301,22,750,3,2,2.0,4,7,DCT,...,350.0,4872,1834,1484,2120,1600,5,2803,1577,1550
24,2016-09-01,654134,280,290,2,1,1.0,7,5,AMT,...,186.0,4620,1820,1750,1780,1410,5,2750,1554,1549
25,2016-09-01,379876,63,985,3,2,1.0,6,4,AT,...,150.0,4558,1805,1505,1798,1370,5,2612,1525,1522
26,2016-09-01,745137,328,637,2,2,1.0,2,6,DCT,...,159.0,4368,1823,1483,1707,1332,5,2648,1553,1544
27,2016-09-01,425432,519,750,3,2,1.0,4,6,AT,...,155.0,4605,1765,1460,1775,1265,5,2610,1517,1493
28,2016-09-01,871642,25,637,2,1,1.0,2,6,AT,...,240.0,4524,1838,1695,2092,1717,5,2690,1563,1565
29,2016-09-01,416749,72,537,2,1,3.0,5,0,CVT,...,169.0,4270,1772,1605,1775,1304,5,2610,1540,1530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20127,2016-03-01,281301,44,750,3,2,2.0,4,7,DCT,...,250.0,4872,1834,1484,2015,1495,5,2803,1577,1550
20128,2016-03-01,248352,8,831,3,2,3.0,3,4,AT,...,155.0,4370,1700,1460,1500,1085,5,2570,1511,1515
20129,2016-04-01,587678,146,537,2,1,3.0,5,0,CVT,...,155.0,4294,1772,1605,1770,1204,5,2610,1535,1540
20130,2016-04-01,628041,13,750,2,2,1.0,4,5,MT,...,225.0,4255,1799,1452,1740,1260,5,2637,1549,1520
20131,2016-04-01,409854,9,638,2,1,1.0,1,6,MT,...,210.0,4649,1852,1710,2106,1620,5,2680,1565,1565
20132,2016-04-01,559132,41,692,3,2,2.0,5,0,CVT,...,234.0,4868,1830,1490,1900,1469,5,2775,1585,1585
20133,2016-04-01,468392,17,537,3,2,2.0,5,0,CVT,...,190.0,4930,1845,1470,1920,1495,5,2775,1595,1585
20134,2016-05-01,291514,50,783,2,1,3.0,1,5,MT,...,160.0,4160,1810,1635,1645,1270,5,2560,1560,1560
20135,2016-05-01,349023,29,450,2,2,1.0,2,6,AT,...,235.0,4510,1797,1477,1893,1485,5,2685,1535,1557
20136,2016-05-01,953842,218,831,2,1,1.0,3,6,AT,...,203.0,4480,1855,1645,2090,1525,5,2670,1625,1636
20137,2016-05-01,810398,67,750,2,2,1.0,4,6,AT,...,155.0,4282,1706,1475,1635,1155,5,2603,1460,1500
20138,2016-05-01,516750,101,98,2,3,3.0,1,5,MT,...,146.5,4500,1721,1715,1825,1260,7-8,2720,1430,1450
20139,2016-05-01,671482,77,637,2,1,3.0,2,6,DCT,...,140.0,4280,1785,1658,1670,1295,5,2530,1527,1533
20140,2016-05-01,735971,619,761,3,2,1.0,2,5,MT,...,143.0,4587,1798,1463,1660,1225,5,2640,1538,1541
20141,2016-06-01,580470,100,750,3,2,1.0,4,5,MT,...,155.0,4562,1793,1468,1700,1220,5,2614,1518,1525
20142,2016-06-01,453752,209,814,3,2,2.0,4,8,AT,...,270.0,4755,1811,1455,1980,1560,5,2920,1531,1572
20143,2016-06-01,209945,296,814,3,2,4.0,4,8,AT,...,310.0,5055,1860,1491,2250,1790,5,3108,1600,1627
20144,2016-06-01,125403,25,761,2,3,2.0,2,6,AT,...,240.0,5266,1878,1772,2470,1860,7,3088,1593,1603
20145,2016-06-01,412240,94,783,2,1,2.0,1,5,MT,...,150.0,4680,1800,1750,1975,1450,7,2780,1495,1505
20146,2016-06-01,219195,85,638,2,1,3.0,1,6,AT,...,210.0,4335,1814,1695,1895,1520,5,2560,1525,1520
20147,2016-06-01,671482,17,637,2,1,3.0,2,5,MT,...,140.0,4280,1785,1658,1620,1245,5,2530,1527,1533
20148,2016-07-01,290854,18,537,2,1,1.0,5,0,CVT,...,190.0,4585,1820,1685,2010,1540,5,2620,1580,1580
20149,2016-07-01,349023,10,450,3,2,1.0,2,5,MT,...,146.0,4567,1786,1456,1700,1225,5,2662,1540,1558
20150,2016-07-01,883691,217,750,3,2,2.0,4,7,DCT,...,250.0,4865,1820,1475,2000,1545,4-5,2812,1552,1551
20151,2016-07-01,347384,18,831,3,2,1.0,3,6,MT,...,155.5,4600,1780,1445,1700,1210,5,2700,1555,1568
20152,2016-07-01,810398,10,750,2,2,1.0,4,5,MT,...,155.0,4282,1706,1475,1600,1120,5,2603,1460,1500
20153,2016-07-01,175962,126,750,3,2,1.0,4,6,AT,...,155.0,4473,1706,1469,1635,1155,5,2603,1460,1500
20154,2016-07-01,395234,9,841,3,2,2.0,6,6,AT,...,200.0,4805,1860,1458,2065,1580,5,2815,1584,1551
20155,2016-08-01,587678,194,537,2,1,3.0,5,0,CVT,...,169.0,4294,1772,1605,1770,1302,5,2610,1535,1540
20156,2016-08-01,248352,218,831,3,2,3.0,3,4,AT,...,135.0,4370,1700,1460,1500,1083,5,2570,1511,1515

In [4]:
gs = df.groupby(['class_id','sale_date'])['sale_quantity'].sum()

class_id  sale_date
103507    2015-03-01      58
          2015-04-01     232
          2015-05-01     226
          2015-06-01     286
          2015-07-01     297
          2015-08-01     355
          2015-09-01     442
          2015-10-01    1050
          2015-11-01     481
          2015-12-01    1433
          2016-01-01     993
          2016-02-01     953
          2016-03-01     650
          2016-04-01     145
          2016-05-01     772
          2016-06-01     829
          2016-07-01     378
          2016-08-01     406
          2016-09-01     684
          2016-10-01     632
          2016-11-01     876
          2016-12-01    1653
          2017-01-01     499
          2017-02-01     435
          2017-03-01     371
          2017-04-01     290
          2017-05-01     429
          2017-06-01     371
          2017-07-01     313
          2017-08-01     180
                        ...
978089    2015-05-01     418
          2015-06-01     372
          2015-07-01     428
          2015-08-01     503
          2015-09-01     753
          2015-10-01     790
          2015-11-01     659
          2015-12-01    1284
          2016-01-01     651
          2016-02-01     623
          2016-03-01     605
          2016-04-01     604
          2016-05-01     735
          2016-06-01     474
          2016-07-01     530
          2016-08-01     521
          2016-09-01     474
          2016-10-01     503
          2016-11-01     400
          2016-12-01    1042
          2017-01-01     558
          2017-02-01     494
          2017-03-01     548
          2017-04-01     466
          2017-05-01     512
          2017-06-01     381
          2017-07-01     270
          2017-08-01     419
          2017-09-01     401
          2017-10-01     400
Name: sale_quantity, Length: 5587, dtype: int64

In [45]:
# 统计每个月有多少个车型在售
selling_cls_in_month = df[['sale_date', 'class_id']].groupby(['sale_date', 'class_id']).size().unstack()
selling_cls_in_month.count()

class_id
103507    32
124140    42
125403    70
136916    70
169673     5
175962    59
178529    70
186250    21
194201     2
194450    69
198427    53
206765    28
209945    70
219195    39
221795    55
245609    19
248352    70
249875    12
250658    20
265980    69
270690    34
281301    70
281792    41
289386    41
289403    18
290854    70
291086    70
291514    60
302513    12
304458    70
          ..
745137    66
750340    28
760412    10
786351    62
789290     8
810398    27
815230    10
819061    70
842246     5
851857    19
854079    52
854548     8
861459     8
871642    54
872180     4
883691    70
890189    10
905061     4
905745    60
914348    70
923841    68
924154    34
948936    13
950264    16
953842    21
961362    70
961962    70
963845    37
973106    12
978089    39
Length: 140, dtype: int64

In [13]:
ttt = df[['sale_date','class_id','sale_quantity']].groupby(['sale_date', 'class_id']).sum()

In [17]:
ttt.unstack().to_csv('../../data/eda/各车型历史销量走势.csv')

In [6]:
cls_in_month = df.groupby('sale_date')['class_id'].count()
cls_in_month

sale_date
2012-01-01    171
2012-02-01    153
2012-03-01    168
2012-04-01    156
2012-05-01    166
2012-06-01    159
2012-07-01    176
2012-08-01    172
2012-09-01    187
2012-10-01    183
2012-11-01    184
2012-12-01    183
2013-01-01    213
2013-02-01    188
2013-03-01    178
2013-04-01    192
2013-05-01    193
2013-06-01    195
2013-07-01    211
2013-08-01    218
2013-09-01    225
2013-10-01    235
2013-11-01    235
2013-12-01    221
2014-01-01    260
2014-02-01    230
2014-03-01    240
2014-04-01    256
2014-05-01    278
2014-06-01    267
             ...
2015-05-01    352
2015-06-01    350
2015-07-01    349
2015-08-01    350
2015-09-01    375
2015-10-01    370
2015-11-01    383
2015-12-01    384
2016-01-01    378
2016-02-01    356
2016-03-01    369
2016-04-01    337
2016-05-01    300
2016-06-01    304
2016-07-01    305
2016-08-01    312
2016-09-01    331
2016-10-01    354
2016-11-01    368
2016-12-01    387
2017-01-01    369
2017-02-01    351
2017-03-01    384
2017-04-01    373
2017-05-01    386
2017-06-01    387
2017-07-01    389
2017-08-01    400
2017-09-01    406
2017-10-01    207
Name: class_id, Length: 70, dtype: int64

In [37]:

gd = df.groupby(['class_id','gearbox_type']).sum().sort_values(ascending=False, by=['sale_quantity']).reset_index()
# gd[gd['if_MPV_id']==1]
gd.groupby('class_id').first().reset_index()['gearbox_type']

0       AT
1       AT
2       AT
3       AT
4       MT
5       MT
6       MT
7       AT
8       AT
9      DCT
10      MT
11      AT
12      AT
13      MT
14     DCT
15     DCT
16      AT
17     CVT
18     DCT
19      MT
20      MT
21     DCT
22     DCT
23      AT
24     DCT
25      AT
26      AT
27      MT
28      MT
29     CVT
      ...
110    DCT
111     AT
112    CVT
113     AT
114    CVT
115     AT
116    DCT
117     AT
118    DCT
119     AT
120     AT
121     AT
122    DCT
123     AT
124    DCT
125    DCT
126     MT
127     MT
128     AT
129     AT
130     AT
131     AT
132     MT
133    DCT
134    DCT
135    CVT
136     MT
137     AT
138    CVT
139     MT
Name: gearbox_type, Length: 140, dtype: object

In [39]:
modes = df[['class_id','brand_id']].groupby('class_id').first().reset_index()
modes

     class_id  brand_id
0      103507       831
1      124140       783
2      125403       761
3      136916       106
4      169673       682
5      175962       750
6      178529        98
7      186250       761
8      194201       831
9      194450       836
10     198427        12
11     206765       761
12     209945       814
13     219195       638
14     221795       872
15     245609       750
16     248352       831
17     249875       294
18     250658       450
19     265980       783
20     270690        98
21     281301       750
22     281792       872
23     289386       813
24     289403        12
25     290854       537
26     291086       761
27     291514       783
28     302513       864
29     304458       106
..        ...       ...
110    745137       637
111    750340       864
112    760412       542
113    786351       836
114    789290       106
115    810398       750
116    815230        49
117    819061       831
118    842246        68
119    851857        75
120    854079       537
121    854548       126
122    861459       498
123    871642       637
124    872180        76
125    883691       750
126    890189       290
127    905061       783
128    905745       761
129    914348       750
130    923841       450
131    924154       637
132    948936       512
133    950264       498
134    953842       831
135    961362       692
136    961962       750
137    963845       836
138    973106       537
139    978089        12

[140 rows x 2 columns]

In [40]:


for col_name in df.drop(['class_id','sale_date','sale_quantity','brand_id'], axis=1).columns.values:
    gd = df.groupby(['class_id',col_name]).sum().sort_values(ascending=False, by=['sale_quantity']).reset_index()
    modes[col_name] = gd.groupby('class_id').first().reset_index()[col_name]

modes

,class_id,brand_id,compartment,type_id,level_id,department_id,TR,gearbox_type,displacement,if_charging,...,engine_torque,car_length,car_width,car_height,total_quality,equipment_quality,rated_passenger,wheelbase,front_track,rear_track
0,103507,831,2,1,3.0,3,6,AT,1.6,L,...,150.7,4270,1780,1630,1830,1325,5,2590,1557,1570
1,124140,783,2,1,1.0,1,6,AT,1.8,T,...,230.0,4650,1850,1695,2075,1665,5,2700,1565,1565
2,125403,761,2,3,2.0,2,6,AT,2.4,L,...,225.0,5213,1878,1772,2470,1840,7,3088,1593,1601
3,136916,106,3,2,2.0,5,4,AT,2.0,L,...,190.0,4825,1825,1480,2000,1465,5,2775,1575,1560
4,169673,682,2,1,2.0,1,6,MT,1.5,T,...,215.0,4715,1830,1780,2095,1570,7,2760,1547,1550
5,175962,750,3,2,1.0,4,5,MT,1.6,L,...,155.0,4473,1706,1469,1600,1120,5,2603,1460,1500
6,178529,98,1,4,1.0,1,5,MT,1.0,L,...,85.0,3730,1510,1860,1575,985,7,2500,1290,1290
7,186250,761,2,2,3.0,2,6,AT,1.5,L,...,146.0,4370,1809,1461,1715,1280,5,2662,1540,1562
8,194201,831,2,2,1.0,3,6,AT,1.4,L,...,132.4,4240,1750,1505,1570,1145,5,2600,1524,1529
9,194450,836,2,1,1.0,3,7,DCT,1.6,T,...,265.0,4475,1850,1655,2090,1541,5,2670,1620,1631
10,198427,12,3,2,1.0,1,5,MT,1.5,L,...,140.0,4547,1734,1470,1620,1210,5,2600,1490,1470
11,206765,761,3,2,4.0,2,6,AT,1.5,L,...,146.0,4718,1802,1466,1745,1295,5,2700,1540,1558
12,209945,814,3,2,3.0,4,8,AT,2.0,T,...,310.0,5055,1860,1491,2250,1790,5,3108,1600,1627
13,219195,638,2,1,1.0,1,6,MT,1.5,T,...,210.0,4335,1814,1695,1910,1495,5,2560,1525,1520
14,221795,872,2,1,1.0,4,6,DCT,1.4,T,...,250.0,4385,1831,1589,2020,1500,5,2603,1571,1575
15,245609,750,2,2,3.0,4,7,DCT,1.4,T,...,225.0,4348,1807,1574,1880,1425,5,2680,1549,1521
16,248352,831,3,2,1.0,3,4,AT,1.4,L,...,135.0,4370,1700,1460,1500,1039,5,2570,1511,1515
17,249875,294,2,1,2.0,6,0,CVT,2.0,L,...,200.0,4672,1843,1678,2004,1557,5,2705,1597,1589
18,250658,450,3,2,3.0,2,7,DCT,1.5,T,...,252.0,4923,1854,1470,1865,1415,5,2829,1606,1609
19,265980,783,2,3,3.0,1,5,MT,1.5,L,...,135.0,4360,1685,1820,1925,1325,7-8,2750,1425,1435
20,270690,98,2,3,2.0,1,5,MT,1.5,L,...,146.5,4415,1685,1850,1825,1256,5,2720,1420,1440
21,281301,750,3,2,1.0,4,7,DCT,1.8,T,...,250.0,4870,1834,1472,2060,1520,5,2803,1577,1550
22,281792,872,3,2,1.0,4,7,DCT,1.4,T,...,250.0,4462,1796,1421,1795,1345,5,2629,1552,1520
23,289386,813,3,2,1.0,5,6,AT,1.5,L,...,148.0,4582,1795,1458,1820,1286,5,2700,1555,1560
24,289403,12,2,1,1.0,1,6,DCT,1.3,T,...,185.0,4440,1833,1545,1773,1398,5,2700,1556,1562
25,290854,537,2,1,2.0,5,5,AT,2.0,L,...,190.0,4550,1820,1685,2010,1625,5,2620,1565,1565
26,291086,761,3,2,3.0,2,6,AT,2.0,L,...,190.0,4843,1856,1484,2020,1585,5,2737,1585,1588
27,291514,783,2,1,3.0,1,5,MT,1.6,L,...,160.0,4160,1810,1635,1645,1270,5,2560,1560,1560
28,302513,864,2,1,1.0,1,5,MT,1.5,L,...,143.0,4354,1840,1654,1670,1285,5,2610,1585,1586
29,304458,106,3,2,1.0,5,0,CVT,1.6,L,...,154.0,4630,1775,1480,1770,1305,5,2700,1535,1535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,745137,637,3,2,1.0,2,6,DCT,1.6,L,...,215.0,4534,1823,1483,1712,1337,5,2648,1553,1544
111,750340,864,2,1,1.0,1,5,AT,1.5,T,...,201.0,4530,1900,1700,1920,1545,5,2700,1601,1602
112,760412,542,2,1,1.0,5,0,CVT,2.0,L,...,155.5,4705,1810,1680,1985,1440,5,2670,1540,1540
113,786351,836,3,2,3.0,3,6,AT,1.6,L,...,140.0,4570,1775,1445,1642,1267,5,2700,1549,1562
114,789290,106,3,2,1.0,5,0,CVT,1.5,L,...,155.0,4440,1700,1490,1500,1090,5,2550,1460,1460
115,810398,750,2,2,1.0,4,6,AT,1.6,L,...,250.0,4282,1706,1475,1635,1155,5,2603,1460,1500
116,815230,49,2,1,1.0,2,7,DCT,1.4,T,...,199.0,4415,1819,1625,1830,1455,5,2636,1544,1544
117,819061,831,2,1,2.0,3,6,AT,2.0,L,...,245.0,4450,1855,1635,1980,1470,5,2640,1614,1615
118,842246,68,2,1,2.0,1,6,DCT,1.8,T,...,400.0,4748,1933,1697,2162,1787,5,2850,1641,1642
119,851857,75,2,1,1.0,2,8,AT,2.0,T,...,172.0,4812,1903,1680,2275,1795,5,2857,1645,1645
120,854079,537,3,2,3.0,5,5,AT,1.8,L,...,150.0,4650,1750,1505,1650,1275,5,2650,1500,1485
121,854548,126,2,1,1.0,1,4,AT,1.5,L,...,250.0,4314,1809,1624,1690,1258,5,2585,1526,1536
122,861459,498,3,2,1.0,1,7,DCT,1.5,T,...,240.0,4671,1835,1464,1720,1270,5,2715,1562,1571
123,871642,637,2,1,2.0,2,6,AT,1.5,T,...,360.0,4524,1838,1685,1967,1592,5,2690,1563,1565
124,872180,76,2,1,2.0,1,7,DCT,2.0,T,...,250.0,4765,1931,1655,2505,1960,5,2950,1655,1606
125,883691,750,3,2,3.0,4,7,DCT,1.8,T,...,146.5,4865,1820,1475,2000,1545,5,2812,1552,1551
126,890189,290,2,1,1.0,7,6,MT,1.5,L,...,160.0,4220,1740,1625,1580,1206,5,2550,1490,1496
127,905061,783,2,3,3.0,1,5,MT,1.6,L,...,200.0,4810,1795,1730,1950,1460,7,2760,1535,1530
128,905745,761,2,1,3.0,2,6,AT,1.4,T,...,155.0,4278,1774,1646,1840,1430,5,2555,1540,1540
129,914348,750,2,2,2.0,4,6,AT,1.6,L,...,190.0,3970,1682,1462,1600,1120,5,2470,1463,1456
130,923841,450,3,2,1.0,2,6,AT,2.0,L,...,142.0,4869,1854,1472,1985,1565,5,2737,1585,1587
131,924154,637,3,2,1.0,2,6,AT,1.5,L,...,150.0,4587,1825,1490,1675,1300,5,2687,1562,1548
132,948936,512,2,1,1.0,1,5,MT,1.5,L,...,250.0,4520,1790,1750,1960,1435,6-7,2700,1450,1480
133,950264,498,2,1,1.0,1,7,DCT,1.5,T,...,265.0,4545,1855,1690,1876,1501,5,2700,1574,1593
134,953842,831,2,1,1.0,3,7,DCT,1.6,T,...,198.0,4480,1855,1645,2090,1576,5,2670,1625,1636
135,961362,692,2,1,1.0,5,0,CVT,2.0,L,...,160.0,4315,1783,1606,1930,1427,5,2630,1540,1545
136,961962,750,3,2,3.0,4,5,MT,1.6,L,...,150.7,4487,1706,1470,1600,1120,5,2603,1460,1500
137,963845,836,2,1,2.0,3,6,AT,1.6,L,...,243.0,4270,1780,1622,1752,1341,5,2590,1557,1570
138,973106,537,2,1,1.0,5,0,CVT,1.5,T,...,140.0,4816,1942,1669,2180,1708,5,2820,1652,1671
139,978089,12,3,2,NaN,1,5,MT,1.5,L,...,NaN,4631,1789,1470,1625,1250,5,2650,1502,1492

In [44]:
modes.count()

class_id                 140
brand_id                 140
compartment              140
type_id                  140
level_id                 139
department_id            140
TR                       140
gearbox_type             140
displacement             140
if_charging              140
price_level              140
price                    130
driven_type_id           140
fuel_type_id             140
newenergy_type_id        140
emission_standards_id    140
if_MPV_id                140
if_luxurious_id          140
power                    140
cylinder_number          140
engine_torque            139
car_length               140
car_width                140
car_height               140
total_quality            140
equipment_quality        140
rated_passenger          140
wheelbase                140
front_track              140
rear_track               140
dtype: int64