In [1]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import *
from xiao_utils import f

In [2]:
# 将level_id字段中的-替换为np.nan
df = pd.read_csv('../../data/origin/[new] yancheng_train_20171226.csv', dtype={'sale_date':str}, na_values=['-'], low_memory=False)
df['sale_date']= pd.to_datetime(df['sale_date'], format='%Y%m')

# 将price_level字段转换成有序类别的类型，并用其数值填入该列。
df['price_level'] = df['price_level'].astype('category', categories=['5WL','5-8W','8-10W','10-15W','15-20W','20-25W','25-35W','35-50W','50-75W'], ordered=True)
df['price_level'] = df['price_level'].cat.codes

# 待选方案：先把power和扭矩字段带/的行复制一份，然后将新行里的销量清零，将原行和新行的power和扭矩字段的值分别赋为slash前后的值。
# 现行方案：先他娘的直接把slash和后面的值删掉。省得影响记录条数相关的统计量。
def process_power_and_torque(s):
    return s.split('/')[0]
df['power'] = df['power'].astype(str).apply(process_power_and_torque).astype(float) #[18600]
df['engine_torque'] = df['engine_torque'].astype(str).apply(process_power_and_torque).astype(float)

In [5]:
a = df.groupby(['class_id','sale_date']).sum()['sale_quantity']

In [9]:
a = a.reset_index()

In [17]:
sale_201611 = pd.DataFrame(a[a['sale_date']==pd.to_datetime('201611', format="%Y%m")])

In [18]:
sale_201611['sale_201611'] = sale_201611['sale_quantity'] * 1.15

In [19]:
sale_201611.count()

class_id         118
sale_date        118
sale_quantity    118
sale_201611      118
dtype: int64

In [20]:
sale_201611

      class_id  sale_date  sale_quantity  sale_201611
20      103507 2016-11-01            876      1007.40
62      124140 2016-11-01            301       346.15
132     125403 2016-11-01            131       150.65
202     136916 2016-11-01            213       244.95
266     175962 2016-11-01            411       472.65
336     178529 2016-11-01            222       255.30
357     186250 2016-11-01            274       315.10
428     194450 2016-11-01            319       366.85
481     198427 2016-11-01            187       215.05
509     206765 2016-11-01           1592      1830.80
579     209945 2016-11-01            395       454.25
618     219195 2016-11-01            490       563.50
673     221795 2016-11-01            228       262.20
692     245609 2016-11-01            161       185.15
762     248352 2016-11-01            872      1002.80
774     249875 2016-11-01              9        10.35
794     250658 2016-11-01            122       140.30
863     265980 2016-11-01            282       324.30
897     270690 2016-11-01           1124      1292.60
967     281301 2016-11-01            606       696.90
1008    281792 2016-11-01            431       495.65
1049    289386 2016-11-01            373       428.95
1067    289403 2016-11-01            204       234.60
1137    290854 2016-11-01            232       266.80
1207    291086 2016-11-01            724       832.60
1267    291514 2016-11-01             60        69.00
1279    302513 2016-11-01             34        39.10
1349    304458 2016-11-01            432       496.80
1401    308913 2016-11-01            148       170.20
1471    321683 2016-11-01           2262      2601.30
...        ...        ...            ...          ...
4183    713651 2016-11-01            174       200.10
4260    714152 2016-11-01            645       741.75
4298    714860 2016-11-01            313       359.95
4367    732758 2016-11-01            189       217.35
4437    735971 2016-11-01           3267      3757.05
4459    736094 2016-11-01            459       527.85
4499    739296 2016-11-01           1314      1511.10
4536    741152 2016-11-01            808       929.20
4550    743957 2016-11-01            899      1033.85
4616    745137 2016-11-01           1278      1469.70
4644    750340 2016-11-01            238       273.70
4716    786351 2016-11-01            657       755.55
4751    810398 2016-11-01             95       109.25
4831    819061 2016-11-01            562       646.30
4855    851857 2016-11-01            275       316.25
4907    854079 2016-11-01            292       335.80
4977    871642 2016-11-01            161       185.15
5051    883691 2016-11-01            334       384.10
5125    905745 2016-11-01            172       197.80
5195    914348 2016-11-01           1024      1177.60
5263    923841 2016-11-01            396       455.40
5297    924154 2016-11-01           1274      1465.10
5310    948936 2016-11-01             61        70.15
5326    950264 2016-11-01            779       895.85
5347    953842 2016-11-01           1401      1611.15
5417    961362 2016-11-01            114       131.10
5487    961962 2016-11-01            201       231.15
5524    963845 2016-11-01            421       484.15
5536    973106 2016-11-01             10        11.50
5575    978089 2016-11-01            400       460.00

[118 rows x 4 columns]

In [21]:
%qtconsole

In [35]:
s_1710 = pd.read_csv('../../result/Oct_mul_115percents.csv')

In [36]:
s1710 = s_1710.drop('predict_date', axis=1)

In [37]:
cf = sale_201611[['class_id','sale_201611']].rename(columns={'sale_201611':'predict_quantity'}).combine_first(other=s1710)

In [38]:
cf

      class_id  predict_quantity
0     103507.0            207.00
1     124140.0            302.00
2     125403.0            179.00
3     136916.0            186.00
4     169673.0            175.00
5     175962.0            273.00
6     178529.0            170.00
7     186250.0             95.00
8     194201.0            435.00
9     194450.0            312.00
10    198427.0            114.00
11    206765.0           2366.00
12    209945.0            105.00
13    219195.0            144.00
14    221795.0            450.00
15    245609.0            139.00
16    248352.0            299.00
17    249875.0            159.00
18    250658.0            215.00
19    265980.0            235.00
20    103507.0           1007.40
21    281301.0            378.00
22    281792.0            553.00
23    289386.0            507.00
24    289403.0            313.00
25    290854.0            236.00
26    291086.0            368.00
27    291514.0             57.00
28    302513.0            195.00
29    304458.0            429.00
...        ...               ...
4183  713651.0            200.10
4260  714152.0            741.75
4298  714860.0            359.95
4367  732758.0            217.35
4437  735971.0           3757.05
4459  736094.0            527.85
4499  739296.0           1511.10
4536  741152.0            929.20
4550  743957.0           1033.85
4616  745137.0           1469.70
4644  750340.0            273.70
4716  786351.0            755.55
4751  810398.0            109.25
4831  819061.0            646.30
4855  851857.0            316.25
4907  854079.0            335.80
4977  871642.0            185.15
5051  883691.0            384.10
5125  905745.0            197.80
5195  914348.0           1177.60
5263  923841.0            455.40
5297  924154.0           1465.10
5310  948936.0             70.15
5326  950264.0            895.85
5347  953842.0           1611.15
5417  961362.0            131.10
5487  961962.0            231.15
5524  963845.0            484.15
5536  973106.0             11.50
5575  978089.0            460.00

[255 rows x 2 columns]

In [39]:
sale_201611

      class_id  sale_date  sale_quantity  sale_201611
20      103507 2016-11-01            876      1007.40
62      124140 2016-11-01            301       346.15
132     125403 2016-11-01            131       150.65
202     136916 2016-11-01            213       244.95
266     175962 2016-11-01            411       472.65
336     178529 2016-11-01            222       255.30
357     186250 2016-11-01            274       315.10
428     194450 2016-11-01            319       366.85
481     198427 2016-11-01            187       215.05
509     206765 2016-11-01           1592      1830.80
579     209945 2016-11-01            395       454.25
618     219195 2016-11-01            490       563.50
673     221795 2016-11-01            228       262.20
692     245609 2016-11-01            161       185.15
762     248352 2016-11-01            872      1002.80
774     249875 2016-11-01              9        10.35
794     250658 2016-11-01            122       140.30
863     265980 2016-11-01            282       324.30
897     270690 2016-11-01           1124      1292.60
967     281301 2016-11-01            606       696.90
1008    281792 2016-11-01            431       495.65
1049    289386 2016-11-01            373       428.95
1067    289403 2016-11-01            204       234.60
1137    290854 2016-11-01            232       266.80
1207    291086 2016-11-01            724       832.60
1267    291514 2016-11-01             60        69.00
1279    302513 2016-11-01             34        39.10
1349    304458 2016-11-01            432       496.80
1401    308913 2016-11-01            148       170.20
1471    321683 2016-11-01           2262      2601.30
...        ...        ...            ...          ...
4183    713651 2016-11-01            174       200.10
4260    714152 2016-11-01            645       741.75
4298    714860 2016-11-01            313       359.95
4367    732758 2016-11-01            189       217.35
4437    735971 2016-11-01           3267      3757.05
4459    736094 2016-11-01            459       527.85
4499    739296 2016-11-01           1314      1511.10
4536    741152 2016-11-01            808       929.20
4550    743957 2016-11-01            899      1033.85
4616    745137 2016-11-01           1278      1469.70
4644    750340 2016-11-01            238       273.70
4716    786351 2016-11-01            657       755.55
4751    810398 2016-11-01             95       109.25
4831    819061 2016-11-01            562       646.30
4855    851857 2016-11-01            275       316.25
4907    854079 2016-11-01            292       335.80
4977    871642 2016-11-01            161       185.15
5051    883691 2016-11-01            334       384.10
5125    905745 2016-11-01            172       197.80
5195    914348 2016-11-01           1024      1177.60
5263    923841 2016-11-01            396       455.40
5297    924154 2016-11-01           1274      1465.10
5310    948936 2016-11-01             61        70.15
5326    950264 2016-11-01            779       895.85
5347    953842 2016-11-01           1401      1611.15
5417    961362 2016-11-01            114       131.10
5487    961962 2016-11-01            201       231.15
5524    963845 2016-11-01            421       484.15
5536    973106 2016-11-01             10        11.50
5575    978089 2016-11-01            400       460.00

[118 rows x 4 columns]

In [30]:
s1710

     class_id  sale_quantity
0      103507          207.0
1      124140          302.0
2      125403          179.0
3      136916          186.0
4      169673          175.0
5      175962          273.0
6      178529          170.0
7      186250           95.0
8      194201          435.0
9      194450          312.0
10     198427          114.0
11     206765         2366.0
12     209945          105.0
13     219195          144.0
14     221795          450.0
15     245609          139.0
16     248352          299.0
17     249875          159.0
18     250658          215.0
19     265980          235.0
20     270690          684.0
21     281301          378.0
22     281792          553.0
23     289386          507.0
24     289403          313.0
25     290854          236.0
26     291086          368.0
27     291514           57.0
28     302513          195.0
29     304458          429.0
..        ...            ...
110    745137          980.0
111    750340          109.0
112    760412           76.0
113    786351          120.0
114    789290           89.0
115    810398          131.0
116    815230          193.0
117    819061          108.0
118    842246          139.0
119    851857          181.0
120    854079          186.0
121    854548          140.0
122    861459          290.0
123    871642          178.0
124    872180          146.0
125    883691          292.0
126    890189         1497.0
127    905061          417.0
128    905745          210.0
129    914348          555.0
130    923841          738.0
131    924154         1371.0
132    948936           86.0
133    950264         1416.0
134    953842         1220.0
135    961362           84.0
136    961962           92.0
137    963845          238.0
138    973106          124.0
139    978089          460.0

[140 rows x 2 columns]

In [45]:
s1611 = sale_201611[['class_id','sale_201611']].rename(columns={'sale_201611':'predict_quantity'})

In [43]:
res = pd.read_csv('../../data/origin/yancheng_testA_20171225.csv')

In [74]:
merged = pd.merge(s1710,s1611, on='class_id', how='left')

In [75]:
merged

     class_id  predict_quantity_x  predict_quantity_y
0      103507               207.0             1007.40
1      124140               302.0              346.15
2      125403               179.0              150.65
3      136916               186.0              244.95
4      169673               175.0                 NaN
5      175962               273.0              472.65
6      178529               170.0              255.30
7      186250                95.0              315.10
8      194201               435.0                 NaN
9      194450               312.0              366.85
10     198427               114.0              215.05
11     206765              2366.0             1830.80
12     209945               105.0              454.25
13     219195               144.0              563.50
14     221795               450.0              262.20
15     245609               139.0              185.15
16     248352               299.0             1002.80
17     249875               159.0               10.35
18     250658               215.0              140.30
19     265980               235.0              324.30
20     270690               684.0             1292.60
21     281301               378.0              696.90
22     281792               553.0              495.65
23     289386               507.0              428.95
24     289403               313.0              234.60
25     290854               236.0              266.80
26     291086               368.0              832.60
27     291514                57.0               69.00
28     302513               195.0               39.10
29     304458               429.0              496.80
..        ...                 ...                 ...
110    745137               980.0             1469.70
111    750340               109.0              273.70
112    760412                76.0                 NaN
113    786351               120.0              755.55
114    789290                89.0                 NaN
115    810398               131.0              109.25
116    815230               193.0                 NaN
117    819061               108.0              646.30
118    842246               139.0                 NaN
119    851857               181.0              316.25
120    854079               186.0              335.80
121    854548               140.0                 NaN
122    861459               290.0                 NaN
123    871642               178.0              185.15
124    872180               146.0                 NaN
125    883691               292.0              384.10
126    890189              1497.0                 NaN
127    905061               417.0                 NaN
128    905745               210.0              197.80
129    914348               555.0             1177.60
130    923841               738.0              455.40
131    924154              1371.0             1465.10
132    948936                86.0               70.15
133    950264              1416.0              895.85
134    953842              1220.0             1611.15
135    961362                84.0              131.10
136    961962                92.0              231.15
137    963845               238.0              484.15
138    973106               124.0               11.50
139    978089               460.0              460.00

[140 rows x 3 columns]

In [58]:
merged[merged['predict_quantity_y'].isnull()]['predict_quantity_y'] = merged[merged['predict_quantity_y'].isnull()]['predict_quantity_x']

C:\Users\xiao\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [76]:
merged.loc[merged['predict_quantity_y'].isnull(), 'predict_quantity_y'] = merged[merged['predict_quantity_y'].isnull()]['predict_quantity_x']

In [77]:
merged

     class_id  predict_quantity_x  predict_quantity_y
0      103507               207.0             1007.40
1      124140               302.0              346.15
2      125403               179.0              150.65
3      136916               186.0              244.95
4      169673               175.0              175.00
5      175962               273.0              472.65
6      178529               170.0              255.30
7      186250                95.0              315.10
8      194201               435.0              435.00
9      194450               312.0              366.85
10     198427               114.0              215.05
11     206765              2366.0             1830.80
12     209945               105.0              454.25
13     219195               144.0              563.50
14     221795               450.0              262.20
15     245609               139.0              185.15
16     248352               299.0             1002.80
17     249875               159.0               10.35
18     250658               215.0              140.30
19     265980               235.0              324.30
20     270690               684.0             1292.60
21     281301               378.0              696.90
22     281792               553.0              495.65
23     289386               507.0              428.95
24     289403               313.0              234.60
25     290854               236.0              266.80
26     291086               368.0              832.60
27     291514                57.0               69.00
28     302513               195.0               39.10
29     304458               429.0              496.80
..        ...                 ...                 ...
110    745137               980.0             1469.70
111    750340               109.0              273.70
112    760412                76.0               76.00
113    786351               120.0              755.55
114    789290                89.0               89.00
115    810398               131.0              109.25
116    815230               193.0              193.00
117    819061               108.0              646.30
118    842246               139.0              139.00
119    851857               181.0              316.25
120    854079               186.0              335.80
121    854548               140.0              140.00
122    861459               290.0              290.00
123    871642               178.0              185.15
124    872180               146.0              146.00
125    883691               292.0              384.10
126    890189              1497.0             1497.00
127    905061               417.0              417.00
128    905745               210.0              197.80
129    914348               555.0             1177.60
130    923841               738.0              455.40
131    924154              1371.0             1465.10
132    948936                86.0               70.15
133    950264              1416.0              895.85
134    953842              1220.0             1611.15
135    961362                84.0              131.10
136    961962                92.0              231.15
137    963845               238.0              484.15
138    973106               124.0               11.50
139    978089               460.0              460.00

[140 rows x 3 columns]

In [65]:
# 求16年11月和17年10月销量（二者都乘以了1.15）的均值
merged['predict_quantity'] = merged[['predict_quantity_x', 'predict_quantity_y']].mean(1).round(0)

In [79]:
# 用16年11月销量乘以1.15，空缺的值用17年10月乘以1.15的值来填充，以此作为预测17年11月的
merged['predict_quantity'] = merged['predict_quantity_y']

In [80]:
res_1611_popwith_1710 = pd.merge(res.drop('predict_quantity', axis=1), merged[['class_id','predict_quantity']], on='class_id', how='left')

In [81]:
res_1611_popwith_1710.to_csv("../../result/16Nov_mul_115(fillwith_17Oct_mul_115).csv",index=False)

In [66]:
res_1611_1710 = pd.merge(res.drop('predict_quantity', axis=1), merged[['class_id','predict_quantity']], on='class_id', how='left')

In [67]:
res_1611_1710

     predict_date  class_id  predict_quantity
0          201711    103507             607.0
1          201711    124140             324.0
2          201711    125403             165.0
3          201711    136916             215.0
4          201711    169673             175.0
5          201711    175962             373.0
6          201711    178529             213.0
7          201711    186250             205.0
8          201711    194201             435.0
9          201711    194450             339.0
10         201711    198427             165.0
11         201711    206765            2098.0
12         201711    209945             280.0
13         201711    219195             354.0
14         201711    221795             356.0
15         201711    245609             162.0
16         201711    248352             651.0
17         201711    249875              85.0
18         201711    250658             178.0
19         201711    265980             280.0
20         201711    270690             988.0
21         201711    281301             537.0
22         201711    281792             524.0
23         201711    289386             468.0
24         201711    289403             274.0
25         201711    290854             251.0
26         201711    291086             600.0
27         201711    291514              63.0
28         201711    302513             117.0
29         201711    304458             463.0
..            ...       ...               ...
110        201711    745137            1225.0
111        201711    750340             191.0
112        201711    760412              76.0
113        201711    786351             438.0
114        201711    789290              89.0
115        201711    810398             120.0
116        201711    815230             193.0
117        201711    819061             377.0
118        201711    842246             139.0
119        201711    851857             249.0
120        201711    854079             261.0
121        201711    854548             140.0
122        201711    861459             290.0
123        201711    871642             182.0
124        201711    872180             146.0
125        201711    883691             338.0
126        201711    890189            1497.0
127        201711    905061             417.0
128        201711    905745             204.0
129        201711    914348             866.0
130        201711    923841             597.0
131        201711    924154            1418.0
132        201711    948936              78.0
133        201711    950264            1156.0
134        201711    953842            1416.0
135        201711    961362             108.0
136        201711    961962             162.0
137        201711    963845             361.0
138        201711    973106              68.0
139        201711    978089             460.0

[140 rows x 3 columns]

In [69]:
res_1611_1710.to_csv("../../result/1611_mul_1.15+1710_mul_1.15.csv",index=False)

In [48]:
tt = res[['class_id','predict_quantity']].combine_first(s1611)

In [50]:
tt['class_id'].value_counts()

559132.0    2
175962.0    2
948936.0    2
194450.0    2
628041.0    2
249875.0    2
136916.0    2
961362.0    2
651347.0    2
732758.0    2
961962.0    2
736094.0    2
516750.0    2
302513.0    2
350259.0    2
198427.0    2
360648.0    2
540712.0    2
379265.0    2
291514.0    2
819061.0    2
580470.0    2
501564.0    2
378536.0    2
649213.0    2
482497.0    2
178529.0    2
250658.0    2
560265.0    2
221795.0    2
           ..
591790.0    2
304458.0    2
786351.0    2
425432.0    2
714152.0    2
417803.0    1
653436.0    1
890189.0    1
854548.0    1
861459.0    1
340175.0    1
872180.0    1
103507.0    1
527765.0    1
815230.0    1
687270.0    1
359378.0    1
842246.0    1
169673.0    1
714150.0    1
725137.0    1
125403.0    1
905061.0    1
194201.0    1
612523.0    1
789290.0    1
124140.0    1
760412.0    1
437063.0    1
376193.0    1
Name: class_id, Length: 140, dtype: int64

In [ ]:

res['predict_quantity'] = pred_Nov
res.to_csv("../../result/v0.5.csv",index=False)